*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-container{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}


.container-home {
  padding: 15px;
  text-align: center;
  color: #11b39d;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 25px;
  border: 3px solid #11b39d;
  height: 300px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

a{
  text-decoration: none;
  color: #11b39d;
}

.container-home:hover {
  box-shadow: 5px 5px 5px 10px #11b39d;
  transition: 0.8s;
}

.subtitle{
  text-align: center;
  color: #11b39d;
}

.container-options{
  display: flex;
  justify-content: space-around;
  gap: 200px;
}

.option{
  color: #B3DEE2;
}

.options{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  color: #a8864f;
  margin: 40px;
  border-bottom: 10px solid #B3DEE2;
}

.options:hover{
  transition: 0.8s;
  border-bottom: 20px solid #11b39d;
}

.option:hover{
  transition: 0.4s;
  color: #11b39d;
}

