@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 250px;
  background-color: #b3dee2;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  padding: 100px;
  color: #11b39d;
  font-family: "Montserrat", sans-serif;
}

.click-home {
  color: #11b39d;
}

.click-home:hover {
  font-size: 30px;
  transition: 0.8s;
}
