@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(196, 196, 196);
}

.container{
    padding: 15px;
    text-align: center;
    color: #E49273;
    cursor: pointer;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 220px;
    border-radius: 25px;
    border: 3px solid #E49273;
    height: 300px;
    width: 70%;
    background-color: #2B4570;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.userId{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 100;
    color: rgb(0, 0, 0);
}

.titleComent{
    font-size: 14px;
    font-weight: 700;
}

.comentario{
    font-size: 15px;
    font-weight: 400;
    color: rgb(113, 113, 113);
}

.userId,
.titleComent,
.comentario{
    padding-left: 15px;
}

.name{
    font-size: 18px;
    font-weight: 400;
}