@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #eaf2d7;
}

.container {
  padding: 15px;
  text-align: center;
  color: #11b39d;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 25px;
  border: 3px solid #11b39d;
  height: 300px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-button {
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
  background: #11b39d;
  color: #b3dee2;
  border: none;
  font-weight: 700;
}

.container-button:hover {
  padding: 20px;
  font-size: 18px;
  transition: 0.8s;
}

.titleComent {
  font-size: 14px;
  font-weight: 700;
}

.comentario {
  font-size: 15px;
  font-weight: 400;
  color: rgb(113, 113, 113);
}

.container-back {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
  padding: 15px;
  border-radius: 20px;
  background: #11b39d;
  color: #b3dee2;
  border: none;
  font-weight: 700;
}

.container-back:hover {
  padding: 25px;
  font-size: 20px;
  transition: 0.8s;
}
